<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />   
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
            
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Faculty Login</title>
        <style>
            body{
                background-image: url(https://img.freepik.com/free-photo/ready-back-school_1134-12.jpg?w=2000);
                background-repeat:no-repeat;
                background-size: cover;
                background-position: center; 

            }
            h1{
                padding-top: 2%;
                padding-left: 2.5%;
                font-size: 50px;
                color: white;
            }
            .class1{
                font-size: 20px;
    
            }
            .c2{
                padding-left: 8%;
                background-color:black;
                padding-bottom: 1%;
            }
            .bg{
                margin-top: 5%;
                margin-left: 35%;
                padding-top:1%;
                padding-left:1%;
                margin-right:35%;
                border-radius:5px;
                border-style:solid;
            }
        </style>
    </head>
    <body>
        <div class="c2">
        <h1>BVRIT HYDERABAD College of Engineering for Women</h1></div>
        <div class="class1 bg">
            <center>
            <form method = "get" action = '/facultylog'>
                <b>Email ID:</b>&nbsp;<input type = "text" name = "email" required><br><br>
                <b>Password:</b><input type = "password" name = "pwd" required><br><br>
                <!-- <input type = "submit" value = "Login" required> -->
                <button class="class1 btn btn-light">Login</button>
            </form>
            <form method = "get" action = '/fachodreg'>
                <!-- <input type = "submit" value = "Register" required> -->
                <button class="class1 btn btn-light">Register</button>
            </form>
            </center>
        </div>
        <script type="text/javascript" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"></script>
    </body>
</html>
<!--<html>
    <head>
        <title>Faculty Login</title>
    </head>
    <body>
        <h1 align = center>BVRIT HYDERABAD College of Engineering for Women</h1>
        <form method = "get" action = '/facultylog'>
            email:
            <input type = "text" name = "email"><br><br>
            Password:
            <input type = "password" name = "pwd"><br><br>
            <input type = "submit" value = "Login">
        </form>
        <form method = "get" action = '/fachodreg'>
            <input type = "submit" value = "Register">
        </form>
    </body>
</html>-->
