<html>
    <head>
        <title>Students Data Entry</title>
    </head>
    <body>
        <h1 align = center>BVRIT HYDERABAD College of Engineering for Women</h1>
        <center>
        <h2>
            Students Details
        </h2>
        <form method = "get" action = "/dataSubmit">
            Roll No:
            <input type = "text" name = "rolno" id = "rno"><br><br>
            Name: 
            <input type = "text" name = "stuname" id = "Sname"><br><br>
            Type:
            <select name = "type" id = "type">
                <option>Day Scholar</option>
                <option>Hosteler</option>
            </select> 
            <input type = "submit" value = "Submit">
        </form>
        </center>
    </body>
</html>
